.content-info {
  background-color: $rollz-darker-blue;
  color: $white;
  h4 {
    font-size: 1.5rem;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  .social-icons {
    a {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}
.sub-footer {
  background-color: darken($rollz-darker-blue, 20);
  a,
  span {
    font-size: 0.8rem;
    padding:0 8px;
    color: $white;
    border-right: 1px solid $white;
    &:last-child {
      border-right: none;
    }
  }
}