html.stuck {
  .main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 300;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
    .logo {
      width: 70px;
    }
    .nav li a {
      padding: 0.2rem 1rem;
    }
  }
}
.banner {
  .main-nav {
    background-color: $rollz-darker-blue;
  }
  .logo {
    transition: all 0.5s;
  }
  .nav li {
    @extend .nav-item;
    a {
      color: $white;
      text-transform: uppercase;
      position: relative;
      transition: all 0.5s;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: "";
        color: transparent;
        background: #fff;
        height: 1px;
        transition: all 0.5s;
      }
      &:hover {
        text-shadow: 0 0 1px white;
        &::after {
          width: 80%;
          text-shadow:none;
        }
      }
    }
    &.btn-shop {
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 4px;
      background-color: $rollz-orange;
      a {
        &:hover {
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
}

.banner .nav a {
  @extend .nav-link;
  color: $white;
}
