.section {
  &.home-header {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $white;
    @include media-breakpoint-up(sm) {
      > img {
        display: block;
        width: 1920px;
        margin: 0 auto;
      }
      .container {
        top:0;
        left: 0;
        right: 0;
      }
    }
    h1 {
      font-size: 5rem;
      font-weight: 600;
    }
  }
}
.section--products {
  .btn {
    padding: 1rem 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.3rem;
  }
  .logo {
    border-radius: 4px;
    border: 1px solid #000;
  }
  .btn,
  .logo {
    width: 160px !important;
    max-width: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .prod-image {
    transition: all 0.3s ease-in-out;
    margin-top: 0;
  }
  .item {
    &:hover {
      .prod-image {
        transform: scale(0.85);
      }
      p {
        opacity: 1;
        bottom: 65px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .item {
      position: relative;
    }
    p {
      position: absolute;
      width: 100%;
      left: 0;
      top: auto;
      bottom: -1px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}
.newsletter {
  background-color: $rollz-light-grey;
}