body {
  font-family: "Montserrat", sans-serif;
}

/** section */
.section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  > .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.section--grey {
    background-color: $rollz-light-grey;
  }
  &.section--light-text {
    color: $white;
    .section-title {
      color: $white;
    }
  }
  @include media-breakpoint-up(lg) {
    .col--text {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

/** headings */
.section-title {
  font-size: 35px;
  color: $rollz-darker-blue;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.section-subtitle {
  font-size: 25px;
  font-weight: 600;
}

/** custom classes */
.white-text {
  color: $white;
}

/** buttons */
.btn {
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 0.8rem 3rem;
  margin: 1rem;
  max-width: 250px;
  transition: all 0.3s;
  &.btn-dark {
    background-color: $black;
    color: $white;
    &:hover {
      background-color: lighten($black, 15);
    }
  }
  &.btn-orange {
    background-color: $rollz-orange;
    color: $white;
    border: 1px solid $rollz-orange;
    &:hover {
      background-color: darken($rollz-orange, 10);
    }
  }
}
.nav-tabs {
  a.nav-link {
    color: lighten($body-color, 50%);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    &.active {
      background-color: transparent !important;
      border-color: $body-color;
      border-width: 2px;
    }
  }
}
.tab-content {
  > .active {
    display: flex;
  }
}