/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Rollz colors */
$rollz-darker-blue: #448aa6;
$rollz-orange: #fa991c;
$rollz-light-grey: #f8f6f6;
